<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<script src="../../js/rest_display.js"></script>
</head>
<body>

<div class = "container">
	<div class="wrapper">
		       
		    <h3>Find A Restuarant!</h3>
		    <form class="rest-form">
    			<input class="user-input" type="search" name="search-term"
    			placeholder="Name, City, Cuisine Type, etc... ">
   				<button type="submit">Search</button>
  			</form>
			<div class="rest-info">
			</div>			  
			  			
				
	</div>
</div>

</body>
</html>