.navbar-right{
	margin-right: 10px;
}

.logo{
  float: left;
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 0px;
  width: 35px;
  height: 35px;
}

.page_center{
	margin-top: -30px;
	background-image: url('../../photos/maxresdefault.jpg');
	background-position: center top;
	background-repeat: repeat-y;
	background-size: cover;
}

.navbar{
	background-color: #eee;
}

.navbar-brand{
	color: red;
  font-size: 30px;
}

.nav-link{
	color: red;
  font-size: 16px;
}

.welcome{
	text-align: center;
	margin-top: -445px;
}

.bg-gradient{
	content: '\A';
    width: auto; 
    height: 630px;
    background:rgba(0,0,0,0.55);
    opacity: 1;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
   -moz-transition: all 0.5s;
}

.banner_welc{
	color: #eee;
	font-size: 90px;
}

.about-text{
	color: #eee;
	font-size: 30px;
}

.about-subtext{
	color: #eee;
	font-size: 20px;
}

.left-button{
	margin-right: 8px; 
	border-radius: 30px;
	font-size: 20px;
	padding: 8px 20px;
}

.right-button{
	margin-left: 8px;
	border-radius: 20px;
	font-size: 20px;
	padding: 8px 20px;
	border-width: 2px;
}

.btn-default{
	background-color: transparent;
	border-color: white;
	color: white;
	border-width: 2px;
}

.wrapper {    
	margin-top: 80px;
	margin-bottom: 20px;
}

.form-signin {
  max-width: 420px;
  padding: 30px 38px 66px;
  margin: 0 auto;
  background-color: #eee;
  border: 3px dotted rgba(0,0,0,0.1);  
  }

.form-signin-heading {
  text-align:center;
  margin-bottom: 30px;
}

.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
}

input[type="text"] {
  margin-bottom: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.colorgraph {
  height: 7px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

.user-input{
	width: 300px;
}

.bg-img-pro{
  width: auto;
  height: 430px;
  background-image: url('../../photos/food.jpg');
  background-size: cover;
  margin-top:-100px;
}

.banner{
  width: auto;
  background-image: url('../../photos/banner-image1-1.png');
  background-size: cover;
  height: 110px;
}

.profile-info{
  margin-top: 20px;
  margin-right: 50px;
  margin-left: 50px;
}


.bg-gradient-pro{
	content: '\A';
    width: auto; 
    height: 430px;
    background:rgba(0,0,0,0.40);
    opacity: 1;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
   -moz-transition: all 0.5s;
}


.adv_form{
  margin-top: -360px;
  text-align: center;
}

.dropdown{
  float: left;
}

.btn-primary{
  margin-left: 10px;
  margin-right: 10px;
}

.drop_row{
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 355px; 
}

.alone_drop{
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 530px;
}

.adv-info{
  padding-top: 20px;
  padding-left:40px;
  padding-right: 40px;
}

.adv_rest_info{
  border-bottom: black;
  border-bottom-width: 2px;
}

.search_form{
  margin-top: -270px;
}

.user-pic{
    margin-left: 270px;
    max-width: 250px;
    max-height: 250px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.5);
    margin-right: 60px;
}

.rest-pic{
    margin-left: 120px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 10%;
    border: 5px solid rgba(255, 255, 255, 0.5);
    margin-right: 50px;
}

.rest_pro_info{
  margin-left: 40px;
}

.rest-reviews{
  margin-top: 30px;
  margin-left: 100px;
  margin-right: 100px;
  text-align: center;
  background-color: #eee;
  border: 5px solid rgba(255, 255, 255, 0.5);
  padding: 10px;
}

.favorites{
  margin-top: 30px;
  margin-left: 260px;
  margin-right: 260px;
  margin-bottom: 10px;
  text-align: center;
  background-color: #eee;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.5);
}

.rest-info{
  margin-top: 120px;
  margin-left: 10px;
}

input[type=range] {
    display: block;
    /* width: 100%; */
    width: 600px;
    margin-left: 295px;
    margin-bottom: 10px;
}

.review{
  width: 600px;
  height: 100px;
}

.user-input {
    width: 300px;
    height: 34px;
}